# Miscellaneous
*.class
*.log
*.pyc
*.swp
dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
flutter_export_platform.dart

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks

# Windows
windows/runner/Debug/
windows/runner/Release/

# Web
web/icons/

# Secrets
*.keystore
*.jks
key.properties